/home/gangagyatso/Desktop/work/stt_utils/stt_stats_utils/wav16k.csv
/home/gangagyatso/Desktop/work/stt_utils/stt_stats_utils/audio_data/
/home/gangagyatso/Desktop/work/stt_utils/stt_stats_utils/dept_files/
